/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(0, 0, 33);
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }

  @keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0.75); /* Start slightly smaller */
    }
    100% {
      opacity: 1;
      transform: scale(1); /* End at normal size */
    }
  }
  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%) scale(0.8); /* Start from the left and slightly smaller */
    }
    100% {
      opacity: 1;
      transform: translateX(0) scale(1); /* Slide to original position and normal size */
    }
  }
  
  
  

  .bl1 {
    
    animation: appear 0.6s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .bl3 {
    
    animation: appear 0.6s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    animation-delay: 1s;
  }


  .bl2 {
    
    animation: slideInLeft 0.6s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  
